.my-container-dark {
  background-color: #ffffff;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-heading-dark {
  font-size: 40px;
  font-family: Lobster;
  color: #1e293b;
}
.text-dark {
  font-size: 30px;
  font-family: Lobster;
  color: #1e293b;
}
.link-dark {
  text-decoration: none;
  color: #1e293b;
}
.visit-icons-dark {
  margin: 5px;
}
.border-con-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #000000 0.5px groove;
  border-radius: 20px;
  padding: 20px;
}
